.chatDetail {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
}

.header {
  padding: 1rem 2rem;
  background-color: var(--secondary-color);
  border-bottom: var(--border-thickness) solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 0px var(--shadow-color);
  z-index: 10;
}

.header h2 {
  margin: 0;
  font-size: 1.5rem;
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 1px;
}


.backButton {
  display: none; 
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .backButton {
    display: block;
  }
}
