.chatPage {
  display: flex;
  height: 100vh;
  background-color: var(--background-color);
  border: 2px solid var(--text-color);
  overflow: hidden; 
}

.leftPanel {
  width: 350px;
  min-width: 300px;
  border-right: 2px solid var(--text-color);
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  overflow-y: auto;
}



.rightPanel {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--background-color);
}

.rightPanel h2 {
  padding: 1rem 2rem;
  border: 2px dashed var(--text-color);
  color: var(--text-color);
  opacity: 0.6;
  text-align: center;
}

.title {
    padding: 1rem;
    margin: 0;
    text-align: center;
    border-bottom: 2px solid var(--text-color);
    background-color: var(--secondary-color);
    box-shadow: 0px 4px 0px var(--text-color);
    position: sticky;

}

@media (max-width: 768px) {
  .chatPage {
    flex-direction: column;
  }

  .leftPanel {
    width: 100%;
    height: 100%;
    border-right: none;
  }

  .rightPanel {
    display: none;
  }
}


