.searchBarContainer {
  padding: 1rem;
  background-color: var(--background-color);
  border-bottom: var(--border-thickness) solid var(--border-color);
}

.searchInput {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: var(--border-thickness) solid var(--border-color);
  box-shadow: var(--shadow-offset) var(--shadow-offset) 0px var(--shadow-color);
  outline: none;
  transition: all 0.1s ease-in-out;
  font-family: var(--primary-font);
}

.searchInput:focus {
  background-color: white;
  box-shadow: 6px 6px 0px var(--shadow-color);
  transform: translate(-2px, -2px);
}
