.searchIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.searchInput {
  flex-grow: 1;
  padding: 0.5rem;
  border: 2px solid var(--text-color);
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--primary-font);
  font-size: 1rem;
  outline: none;
  box-shadow: 2px 2px 0px var(--text-color);
  transition: all 0.2s ease-in-out;
}

.searchInput:focus {
  box-shadow: 4px 4px 0px var(--tertiary-color);
  transform: translate(-1px, -1px);
}
