.chatItem {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: white;
  border: var(--border-thickness) solid var(--border-color);
  position: relative;
  gap: 1rem;
}

.chatItem:hover {
  background-color: var(--secondary-color);
  transform: translate(-2px, -2px)
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: var(--border-thickness) solid var(--border-color);
  object-fit: cover;
  flex-shrink: 0;
  background-color: var(--background-color);
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.name {
  margin: 0;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--text-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.status {
  font-size: 0.75rem;
  padding: 0.2rem 0.5rem;
  border: var(--border-thickness) solid var(--border-color);
  background-color: var(--primary-color);
  color: white;
  box-shadow: 2px 2px 0px var(--shadow-color);
  white-space: nowrap;
  font-weight: bold;
}

.message {
  margin: 0;
  font-size: 0.9rem;
  color: var(--text-color);
  opacity: 0.9;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
